// Estilos para la lista desordenada (ul)
ul {
    list-style-type: none;
    padding: 0;
  }
  
  // Estilos para los elementos de lista (li)
  li {
    display: inline-block;
    margin-right: 10px; // Espacio entre los elementos
  }
  // Estilos para los enlaces dentro de los elementos de lista
  li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  // Estilos para los enlaces dentro de los elementos de lista cuando se pasa el ratón por encima
  li a:hover {
    color: #0056b3;
  }
  